{% extends "layout.html" %}
{% block content %}
    <h1>{{ "Editing: " + exercise_name }}</h1>
    <script>
        document.getElementById('run-script-btn').addEventListener('click', function() {
            fetch('/run-script')
                .then(response => response.json())
                .then(data => {
                    if (data.output) {
                        document.getElementById('output').innerText = data.output;
                    } else if (data.error) {
                        document.getElementById('output').innerText = "Error: " + data.error;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
    <button onclick="window.location.href='{{ url_for('home') }}'">Back to Home</button>
{% endblock %}